{% extends 'base.html.twig' %}

{% block title %}Hello PantsController!{% endblock %}

{% block body %}
<div class="container mt-5">
{{ form_start(form) }}


    {{ form_row(form.name) }}
    {{ form_row(form.image) }}
    {{ form_row(form.prix) }}
    {{ form_row(form.categorie) }}

<button type="submit">Soumettre</button>

{{ form_end(form) }}
</div>
{% endblock %}
